/* desktop display */

header {
  width: 100vw;
  height: 1px;
}


.body{
  padding-left: 60px;
  /* padding-top: 40px; */
  background: linear-gradient(to left, transparent, white),
               url('../../assets/image.jpg') no-repeat 25px 0px;
  background-size:cover;
  /* width: 100vw; */
}


header img{
  height: 35px;
  padding-left: 60px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.userImg{
  width: 40vw;
  height: 100vh;
  padding-left: 50vw;
}

header{
  padding-bottom: 70px;
}

.blue{
  width: 100vw;
  background-color: rgb(49, 105, 179);
  padding-bottom: 70px;
}

.logo{
  background-color: white;
}

.text1{
  color: rgb(49, 105, 179);
  font-size: 20px;
  width: 52vw;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 40px;

}
.text2{
  display: inline-flex;
  width: 30vw;
}
.text3{
  color: rgb(49, 105, 179);
  font-size: 10px;
  padding-left: 1vw;
  min-width: 90px;
}
.text4{
  color: rgb(49, 105, 179);
  font-size: 10px;
  /* padding-right: 50vw;*/
  padding-left: 3vw; 
  min-width: 150px;
}

.percents{
  color: rgb(49, 105, 179);
  font-size: 10vh;
  text-align: center;
}
.text5{
  color: rgb(49, 105, 179);
  font-size: 17px;
  width: 55vw;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: left;
  
}

.text6{
  padding-left: 10px;
  color: rgb(49, 105, 179);
  text-align: left;
}

.buttonDiv{
  width: 50vw;
  text-align: left;
}


.text{
  color: rgb(49, 105, 179);
}

footer{
  color:rgb(170, 157, 157);
  width: 350px;
  padding-top: 100px;
  
}



.userImg{
  left: 200px;
  height: 100px;
  width: 100px;

 
  }

  .divide{
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background: rgb(49, 105, 179);
    position: absolute;
    left: 44vw;
  }





/* //////////////////////////////// */
/* show for mobile view */
@media only screen and (max-width: 400px){

  *{
    align-items: center;
  }
  body{
    background-size: cover;
   

  }
  .blue{
    width: 100vw;
    padding-bottom: 70px;
  }
  
  .divide{
    display: none;
  }
  .bar{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: rgb(49, 105, 179);
    position: absolute;
    left: 35vw;
    top: 80vh;
  }
  .text1{
    color: rgb(49, 105, 179);
    font-size: 20px;
    width: 52vw;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  .text2{
    display: block;
    width: 30vw;
  }
  .userImg{
    width: 100vw;
    height: 20vh;
    align-items: center;
  }
  .text3{
    color: rgb(49, 105, 179);
    font-size: 10px;
    height: 10vh;
    width: 15vw;
    text-align: center;
    padding-left: 18vw;
    padding-bottom: 10vh;
    display: block;
  }
  .text4{
    color: rgb(49, 105, 179);
    font-size: 10px;
    height: 10vh;
    width: 15vw;
    text-align: center;
    display: block;
  }
  .text6{
    padding-left: 15vw;
    color: rgb(49, 105, 179);
  }



}