/* desktop display */
*{
  align-items: center;
  
}
header {
  width: 100vw;
  height: 3vh;
}
.body{
  padding-left: 60px;
  padding-top: 40px;
  background-color: rgb(226, 221, 221);

  /* background-image: url('../../assets/pexels-andrea-piacquadio-920382\ \(1\).jpg'); */
  /* background-image: linear-gradient(90deg); */
}

header img{
  height: 40px;
  padding-left: 60px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.userImg{
  width: 40vw;
  height: 100vh;
  padding-left: 50vw;
}

header{
  padding-bottom: 70px;
}

.blue{
  width: 100vw;
  background-color: rgb(49, 105, 179);
  padding-bottom: 70px;
}

.logo{
  background-color: white;
}

.text1{
  color: rgb(49, 105, 179);
  font-size: 20px;
  width: 52vw;
  font-weight: bold;
  text-align: left;
}
.text2{
  display: inline-flex;
  width: 30vw;
}
.text3{
  color: rgb(49, 105, 179);
  font-size: 10px;
  padding-left: 5vw;
  height: 10vh;
  width: 100px;
}
.text4{
  color: rgb(49, 105, 179);
  font-size: 10px;
  /* padding-right: 50vw;*/
  padding-left: 5vw; 
  min-width: 150px;
}

.percents{
  color: rgb(49, 105, 179);
  font-size: 10vh;
  text-align: center;
}
.text5{
  color: rgb(49, 105, 179);
  font-size: 17px;
  width: 55vw;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  
}

.text6{
  padding-left: 15vw;
  color: rgb(49, 105, 179);

}

.buttonDiv{
  width: 50vw;
  text-align: center;
}


.text{
  color: rgb(49, 105, 179);
}

footer{
  color:rgb(170, 157, 157);
  width: 350px;
  padding-top: 100px;
}

.vertical-divider {
  position: absolute;
  display: table;
  height: 25%;
  width: 100%;
}
.vertical-divider .center-element {
  position: relative;
  display: table-cell;
  /* vertical-align: middle; */
  display: table-row;

}
.vertical-divider .center-element:before,
.vertical-divider .center-element:after {
  position: absolute;
  content: "";
  width: 1px;
  left: 38%;
  border-left: 1px solid rgb(49, 105, 179);
}
.vertical-divider .center-element:before {
  bottom: 10%;
  top: 0;
  margin-bottom: 20px;
}

/* show for mobile view */
@media only screen and (max-width: 400px){
  .blue{
    width: 100vw;
    padding-bottom: 70px;
  }
  .text1{
    color: rgb(49, 105, 179);
    font-size: 20px;
    width: 52vw;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  .userImg{
    width: 100vw;
    height: 20vh;
    align-items: center;
  }
  .text3{
    color: rgb(49, 105, 179);
    font-size: 10px;
    height: 10vh;
    width: 15vw;
    text-align: center;
    padding-left: 20vw;
    padding-bottom: 10vh;
  }
  .text4{
    color: rgb(49, 105, 179);
    font-size: 10px;
    height: 10vh;
    width: 15vw;
    text-align: center;
    padding-left: 20vw;
    padding-bottom: 10vh;

  }
  .vertical-divider .center-element {
    position: relative;
    display: none;
    vertical-align: middle;
  
  }
  .text6{
    padding-left: 15vw;
    color: rgb(49, 105, 179);

  }

  
}