*{
  padding-left: 20px;
}

.header_logo .shown{
  background-color: mintcream;
}

header img{
  height: 70px;
}

.white_logo{
  background-color: rgb(45, 122, 223);
}
.shown{
  background-color: rgb(45, 122, 223);
}

.text{
  color: rgb(45, 122, 223);
}
footer{
  color:rgb(170, 157, 157);
  width: 350px;
  padding-top: 100px;
}